// ************************************
// ▼▼▼▼▼▼▼▼▼▼▼ MISC MIXINS ▼▼▼▼▼▼▼▼▼▼▼▼
@mixin blk-txt-shdw {
  text-shadow: 1px 1px 1px black;
}
@mixin mag-glass($s-f, $c, $c-hov) {
  @include border-radii(50%);
  &:hover {
    border-color: $c-hov;
    &:before {
      background-color: $c-hov;
    }
  }
  &:active {
    @include filters($m-ds);
  }
  position: absolute;
  display: inline-block;
  font-size: $s-f;
  bottom: 1em;
  right: 5em;
  width: 1em;
  height: 1em;
  border: 0.125em solid $c;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  &:before {
    @include transforms(rotate(60deg));
    content: '';
    display: inline-block;
    position: absolute;
    right: -0.25em;
    bottom: -0.3em;
    width: 0.625em;
    height: 0.125em;
    border-width: 0;
    background-color: $c;
    &:hover {
      background-color: $c-hov;
    }
  }
}
@mixin lighten-on-change($c) {
  &.true {
    background-color: lighten($c, 10%);
  }
}
@mixin bot-block($c) {
  position: absolute;
  display: inline-block;
  width: 50%;
  margin-top: 3.00em;
  background-color: $c;
  &, &:before {
    height: 1.7em;
  }
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    background-color: $c-bg-main;
    @include border-radius-tl(100%);
  }
  &.above-lines-2 {
    margin-top: 4.50em;
  }
  &.above-lines-3 {
    margin-top: 6.00em;
  }
  &.above-lines-4 {
    // margin-top: 142px;
    margin-top: 7.50em;
  }
  &.below-lines-2 {
    &, &:before {
      height: 2.5em;
    }
  }
  &.below-lines-3 {
    &, &:before {
      height: 3em;
    }
  }
  &.below-lines-4 {
    &, &:before {
      height: 5.5em;
    }
  }
}
@mixin top-block($c) {
  display: inline-block;
  position: absolute;
  right: 0;
  width: 50%;
  margin-top: -1.2em;
  background-color: $c;
  &, &:before {
    height: 1.7em;
  }
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    background-color: $c-bg-main;
    @include border-radius-br(100%);
  }
}
@mixin mid-block($c-txt, $c-bg) {
  @include box-sizing(border-box);
  @include border-radii(50% 0);
  width: 15em;
  line-height: 1.5em;
  color: $c-txt;
  background-color: $c-bg;
  font-family: $f-main;
  &.lines-1 {
    height: 2.5em;
  }
  &.lines-2 {
    height: 4em;
    & + .top {
      margin-top: -2em;
      &, &:before {
        height: 2.5em;
      }
    }
  }
  &.lines-3 {
    height: 5.5em;
    & + .top {
      margin-top: -2.5em;
      &, &:before {
        height: 3em;
      }
    }
  }
  &.lines-4 {
    height: 7em;
    & + .top {
      margin-top: -3em;
      &, &:before {
        height: 3.5em;
      }
    }
  }
}
@mixin btn-mid {
  &:active {
    @include blk-txt-shdw
  }
}
@mixin btn-bot {
  &:active {
    & + .mid {
      @include blk-txt-shdw
    }
  }
}
@mixin btn-top {
  @include btn-bot;
  &:active {
    & + .bot + .mid {
      @include blk-txt-shdw
    }
  }
}
@mixin hide-under-header {
  @include transforms(translateY(-110%));
  @include transforms(translateY(-webkit-calc(-100% - 1.25em - 1px)));
  @include transforms(translateY(-moz-calc(-100% - 1.25em - 1px)));
  @include transforms(translateY(-ms-calc(-100% - 1.25em - 1px)));
  @include transforms(translateY(-o-calc(-100% - 1.25em - 1px)));
  @include transforms(translateY(calc(-100% - 1.25em - 1px)));
  opacity: 0;
}
@mixin unhide-under-header {
  @include transforms(translateY(-1.25em));
  opacity: 1;
}
@mixin outline-shadow($c-o, $c-s) {
    text-shadow: -1px -1px 0 $c-o,
  1px -1px 0 $c-o,
  -1px 1px 0 $c-o,
  1px 1px 0 $c-o,
  2px 2px 2px $c-s;
}
@mixin bg-grad($grad, $bg) {
  background: -webkit-linear-gradient($grad), $bg;
  background: -moz-linear-gradient($grad), $bg;
  background: -ms-linear-gradient($grad), $bg;
  background: -o-linear-gradient($grad), $bg;
  background: linear-gradient($grad), $bg;
}
@mixin calc-prop($prop, $exp, $fb) {
  #{$prop}: $fb;
  #{$prop}: -webkit-calc($exp);
  #{$prop}: -moz-calc($exp);
  #{$prop}: -ms-calc($exp);
  #{$prop}: -o-calc($exp);
  #{$prop}: calc($exp);
}
@mixin icon-bullet($url-icon) {
  &:before{
    content: '';
    display: inline-block;
    height: 1em;
    width: 2em;
    background-image: $url-icon;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
// ▲▲▲▲▲▲▲▲▲▲▲ MISC MIXINS ▲▲▲▲▲▲▲▲▲▲▲▲
// ************************************