// ************************************
// ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ TAGS ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
body {
  margin: 0;
  background-color: $c-bg-main;
  font-family: $f-main;
}
a {
  text-decoration: none;
  &, &:active, &:visited {
    color: inherit;
  }
}
h1 {
  text-align: center;
}
// ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ TAGS ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
// ************************************
// ************************************
// ▼▼▼▼▼▼▼▼▼▼▼▼ CLASSES ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
.content {
  margin-top: 168px;
}
.link {
  cursor: pointer;
}
.image-caption {
  text-align: center;
  &, & * {
    display: inline-block;
  }
}

img.logo {
  &.hts {
    &:hover {
      content: $url-hts-logo-hov;
    }
    &:active {
      content: $url-hts-logo-inv;
    }
  }
}
a.logo {
  &.hts {
    @include border-radii(0.3em);
    font-weight: bold;
    color: $c-hts-white;
    background-color: $c-hts-blue;
    padding: 0.3em;
    font-size: 0.6em;
    vertical-align: top;
    &:hover {
      background-color: lighten($c-hts-blue, 10%);
    }
    &:active {
      color: lighten($c-hts-blue, 10%);
      background-color: $c-hts-white;
    }
  }
}
.nav-btns {
  // margin-right: 5px;
  // .nav-btn {
  //   @include fade-in;
  // }
}
.nav-btn {
  outline: none;
  &:not(.search-bar-block) {
    cursor: pointer;
    &.top {
      @include top-block($c-btn-bg1);
      @include btn-top;
    }
    &.mid {
      @include mid-block($c-btn-txt1, $c-btn-bg1);
      @include btn-mid;
      @include user-select('none');
      display: block;
      position: relative;
      margin-top: 10px;
      padding: 14px 25px;
      font-size: 14px;
      line-height: 24px;
      overflow: hidden;
      text-decoration: none;
      span, strong {
        @include animate-result;
        position: relative;
      }
    }
    &.bot {
      @include bot-block($c-btn-bg1);
      @include btn-bot;
    }
    @include lighten-on-change($c-btn-bg1);
  }
  &.search-bar-block {
    &.top {
      @include top-block($c-btn-bg2);
    }
    &.bot {
      @include bot-block($c-btn-bg2);
    }
    &.top, &.bot {
      cursor: text;
    }
  }
  &.bot:nth-last-child(2) {
    display: none;
  }
}

// ▲▲▲▲▲▲▲▲▲▲▲▲ CLASSES ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
// ************************************
// ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ IDS ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4em;
  padding: 0.5em;
  z-index: 1;
  background-color: $c-bg-main;
  .image-caption {
    vertical-align: bottom;
    max-height: 4em;
    &, div, img {
      max-width: 8em;
    }
    img {
      max-height: 2.5em;
    }
  }
}
#home-page-images {
  padding: 0 1.25em;
  overflow: hidden;
  .image-caption {
    position: relative;
    float: left;
    &:hover {
      img {
        @include filters(blur(1.5px));
        width: 90%;
      }
      .caption {
        margin-top: -50%;
        font-size: 1.25em;
        font-weight: bold;
        text-shadow: -1px -1px 0 $c-bg-main,
          1px -1px 0 $c-bg-main,
          -1px 1px 0 $c-bg-main,
          1px 1px 0 $c-bg-main;
      }
    }
    img, .caption {
      @include transitions(all $dur-main $tf-main);
      width: 100%;
      text-align: center;
    }
    .caption {
      position: absolute;
      left: 0;
    }
  }
}
#nav-bar {
  position: absolute;
  display: inline-block;
  top: 3.875em;
  right: 0;
}
#about-us-btn, #search-results, .nav-btns {
  margin-right: 1.25em;
  display: inline-block;
  position: relative;
  vertical-align: top;
}
#about-us-content {
  @include transitions(all $dur-main $tf-main);
  @include hide-under-header;
  position: fixed;
  margin: 1.25em;
  padding: 1.25em 0;
  z-index: 1;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), $url-about-us-bg;
  background-size: cover;
  &.true {
    @include unhide-under-header;
  }
  h1 {
    margin-top: 0;
    text-shadow: -1px -1px 0 $c-bg-main,
      1px -1px 0 $c-bg-main,
      -1px 1px 0 $c-bg-main,
      1px 1px 0 $c-bg-main,
      2px 2px 2px $c-f-main;
  }
  p {
    margin: 1.25em;
    color: $c-bg-main;
  }
  .about-us-image {
    width: 12.5em;
    margin: 0 1.25em;
    float: left;
    &:last-of-type {
      float: right;
    }
  }
}
#search-bar, .nav-btn {
  &.mid:last-child {
    &, & > input {
      @include border-radius-br(0);
      & > input {
        padding-right: 2em;
      }
      & > button {
        right: 0.75em;
      } 
    }
  }
}
#search-bar {
  @include border-radii(50% 0);
  position: relative;
  height: 3em;
  margin-top: 0.625em;
  cursor: text;
  input {
    @include mid-block($c-btn-txt2, $c-btn-bg2);
    // @include fade-in;
    height: 3rem;
    border: none;
    outline: none;
    padding: 0.625rem 6.5rem 0.625rem 1.5rem;
  }
  button {
    @include mag-glass(16px, $c-txt-ph, $c-btn-txt2);
    // @include fade-in;
  }
}
// ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ IDS ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
// ************************************
