// ************************************
// ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ TAGS ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
body {
  margin: 0;
  background-color: $c-bg-main;
  font-family: $f-main;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em;
  z-index: 1;
  background-color: $c-bg-main;
  box-shadow: 0 0.05em 0.1em grey;
  .image-caption {
    vertical-align: bottom;
    max-height: 4em;
    &, div, img {
      max-width: 8em;
    }
    img {
      max-height: 2.5em;
    }
  }
}
a {
  text-decoration: none;
  &, &:active, &:visited {
    color: inherit;
  }
}
h1 {
  text-align: center;
}
button {
  cursor: pointer;
}
// ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ TAGS ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
// ************************************
// ************************************
// ▼▼▼▼▼▼▼▼▼▼▼▼ CLASSES ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
.content {
  margin-top: 5.75em;
}
.link {
  cursor: pointer;
}
.image-caption {
  text-align: center;
  &, & * {
    display: inline-block;
  }
}

img.logo {
  &.hts {
    &:hover {
      content: $url-hts-logo-hov;
    }
    &:active {
      content: $url-hts-logo-inv;
    }
  }
}
a.logo {
  &.hts {
    @include border-radii(0.3em);
    font-weight: bold;
    color: $c-hts-white;
    background-color: $c-hts-blue;
    padding: 0.3em;
    font-size: 0.6em;
    vertical-align: top;
    &:hover {
      background-color: lighten($c-hts-blue, 10%);
    }
    &:active {
      color: lighten($c-hts-blue, 10%);
      background-color: $c-hts-white;
    }
  }
}
.nav-btns {
  // margin-right: 5px;
  // .nav-btn {
  //   @include fade-in;
  // }
}
.top, .mid, .bot {
  font-size: 12px;
}
.nav-btn {
  outline: none;
  &:not(.search-bar-block) {
    cursor: pointer;
    &.top {
      @include top-block($c-btn-bg1);
      @include btn-top;
    }
    &.mid {
      @include mid-block($c-btn-txt1, $c-btn-bg1);
      @include btn-mid;
      @include user-select('none');
      display: block;
      position: relative;
      margin-top: 0.5em;
      padding: 0.5em 2em;
      overflow: hidden;
      text-decoration: none;
      &:not(:nth-child(3)) {
        span, strong {
          @include animate-result;
          position: relative;
        }
      }
    }
    &.bot {
      @include bot-block($c-btn-bg1);
      @include btn-bot;
    }
    @include lighten-on-change($c-btn-bg1);
  }
  &.search-bar-block {
    &.top {
      @include top-block($c-btn-bg2);
    }
    &.bot {
      @include bot-block($c-btn-bg2);
    }
    &.top, &.bot {
      cursor: text;
    }
  }
  &.bot:nth-last-child(2) {
    display: none;
  }
}

// ▲▲▲▲▲▲▲▲▲▲▲▲ CLASSES ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
// ************************************
// ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ IDS ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
#home-page-images {
  padding: 0 1.25em;
  overflow: hidden;
  .image-caption {
    position: relative;
    float: left;
    &:hover {
      img {
        @include filters(blur(1.5px));
        width: 90%;
      }
      .caption {
        @include txt-outline-shadow($c-bg-main, $c-f-main);
        margin-top: -50%;
        font-size: 1.25em;
        font-weight: bold;
      }
    }
    img, .caption {
      @include transitions(all $dur-main $tf-main);
      width: 100%;
      text-align: center;
    }
    .caption {
      position: absolute;
      left: 0;
    }
  }
}
#nav-bar {
  position: absolute;
  display: inline-block;
  top: 2.25em;
  right: 0;
  height: 2.5em;
  & > div {
    @include box-shadow(2px 2px 2px $c-f-main);
    margin-right: 0.5em;
    display: inline-block;
    position: relative;
    vertical-align: top;
  }
}
#about-us-content {
  $darken: rgba(0, 0, 0, 0.5);
  @include bg-grad(($darken, $darken), $url-about-us-bg);
  background-size: cover;
  p {
    margin: 1em;
    color: $c-bg-main;
  }
  .about-us-image {
    width: 10em;
    margin: 0 1em;
    float: left;
    &:last-of-type {
      float: right;
    }
  }
}
#contact-content {
  @include bg-grad((to left, $c-btn-bg2, $c-btn-bg1 25em, $c-btn-bg1), none);
  color: $c-bg-main;
  a {
    font-size: 1.5em;
    font-weight: bold;
    &.employee {
      font-size: 1.25em;
    }
    &:hover {
      @include txt-outline($c-bg-main);
    }
    &:active {
      @include txt-outline-shadow($c-bg-main, $c-f-main)
    }
    &:hover, &:active {
      color: $c-f-main;
    }
  }
  .all-contacts {
    padding: 1em;
  }
  .contactable {
    @include box-sizing(border-box);
    height: 16em;
    padding: 1em;
    margin-bottom: 1em;
    width: 33%;
    vertical-align: top;
  }
  .contactable, .contacts, .link {
    display: inline-block;
  }
  .name {
    margin-bottom: 0.5em;
    text-align: center;
  }
  .contact {
    position: relative;
    padding-left: 2.5em;
    margin-bottom: 0.5em;
    line-height: 1.5em;
  }
  .phone {
    @include icon-bullet($url-icon-phone);
  }
  .office-phone {
    @include icon-bullet($url-icon-office-phone);
  }
  .mobile-phone {
    @include icon-bullet($url-icon-mobile-phone);
  }
  .toll-free-phone {
    @include icon-bullet($url-icon-toll-free-phone);
  }
  .fax {
    @include icon-bullet($url-icon-fax);
  }
  .email {
    @include icon-bullet($url-icon-email);
  }
  .address {
    @include icon-bullet($url-icon-address);
  }
  .link {
    max-height: 50%;
    max-width: 25%;
    float: right;
    &:hover {
      @include filters(drop-shadow(0em 0em 0.5em $c-bg-main));
    }
    &:active {
      @include filters(drop-shadow(0.25em 0.25em 0.25em $c-f-main));
    }
  }
  .head-shot {
    @include border-radii(4%);
  }
  .hts {
    font-family: $f-logo;
    font-weight: normal;
  }
}
#pop-ups > div {
  @include transitions(all $dur-main $tf-main);
  @include hide-under-header;
  position: fixed;
  left: 0;
  right: 0;
  margin: 0.5em;
  z-index: 1;
  &.show {
    @include unhide-under-header;
  }
  button {
    position: absolute;
    font-size: 8.75em;
    height: 0.75em;
    font-family: monospace;
    background-color: transparent;
    border: none;
    outline: none;
    overflow: hidden;
    &:hover {
      @include txt-outline-shadow($c-f-main, $c-bg-main);
      color: $c-bg-main;
    }
  }
  button, button:active, h1 {
    @include txt-outline-shadow($c-bg-main, $c-f-main);
    color: $c-f-main;
  }
}
#search-results > .mid {
  text-align: center;
}
#search-bar, .nav-btn {
  &.mid:last-child {
    &, & > input {
      @include border-radius-br(0);
      & > input {
        padding-right: 2em;
      }
      & > button {
        right: 0.75em;
      } 
    }
  }
}
#search-bar {
  @include border-radii(50% 0);
  position: relative;
  height: 2.5em;
  margin-top: 0.5em;
  cursor: text;
  &, & input {
    font-size: 12px;
  }
  input {
    @include mid-block($c-btn-txt2, $c-btn-bg2);
    // @include fade-in;
    height: 2.5em;
    border: none;
    outline: none;
    padding: 0.5em 6.5em 0.5em 1.5em;
  }
  button {
    @include mag-glass(12px, $c-txt-ph, $c-btn-txt2);
    // @include fade-in;
  }
}
// ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ IDS ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
// ************************************
