// ************************************
// ▼▼▼▼▼▼▼▼▼▼▼▼ VARIABLES ▼▼▼▼▼▼▼▼▼▼▼▼▼
$c-bg-main: white;
$c-f-main: black;
$c-hts-blue: #0062A7;
$c-hts-white: white;
$c-btn-txt1: white;
$c-btn-bg1: #0062A7;
$c-btn-txt2: white;
$c-btn-bg2: #588F15;
$c-txt-ph: #A7A8A9;
$f-main: 'Exo', sans-serif;
$f-logo: 'Bowlby One SC', cursive;
$url-hts-logo-inv: image-url("companies/hts/hts-logo-inverted.png");
$url-hts-logo-hov: image-url("companies/hts/hts-logo-hovered.png");
$url-about-us-bg: image-url("about_us/about_us_bg-about_us_image.jpg");
$url-icon-phone: image-url("icons/phone-icon.png");
$url-icon-mobile-phone: image-url("icons/mobile_phone-icon.png");
$url-icon-office-phone: image-url("icons/office_phone-icon.png");
$url-icon-toll-free-phone: image-url("icons/toll_free_phone-icon.png");
$url-icon-fax: image-url("icons/fax-icon.png");
$url-icon-email: image-url("icons/email-icon.png");
$url-icon-address: image-url("icons/address-icon.png");
$m-ww: brightness(5000%);
$m-ds: drop-shadow(1px 1px 1px black);
$dur-main: 0.5s;
$tf-main: cubic-bezier(.29, .96, .49, .99);
// ▲▲▲▲▲▲▲▲▲▲▲▲ VARIABLES ▲▲▲▲▲▲▲▲▲▲▲▲▲
// ************************************