// ************************************
// ▼▼▼▼▼▼▼▼▼▼▼▼ VARIABLES ▼▼▼▼▼▼▼▼▼▼▼▼▼
$c-bg-main: white;
$c-hts-blue: #0062A7;
$c-hts-white: white;
$c-btn-txt1: white;
$c-btn-bg1: #0062A7;
$c-btn-txt2: white;
$c-btn-bg2: #588F15;
$c-txt-ph: #A7A8A9;
$f-main: 'Exo', sans-serif;
$f-logo: 'Bowlby One SC', cursive;
$m-ww: brightness(5000%);
$m-ds: drop-shadow(1px 1px 1px black);
// ▲▲▲▲▲▲▲▲▲▲▲▲ VARIABLES ▲▲▲▲▲▲▲▲▲▲▲▲▲
// ************************************