/*
 *= require_tree .
 *= require_self
 */

// ************************************
// ▼▼▼▼▼▼▼ VENDOR PREFIX MIXINS ▼▼▼▼▼▼▼
@mixin box-shadow($args) {
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  -ms-box-shadow: $args;
  -o-box-shadow: $args;
  box-shadow: $args;
}
@mixin box-sizing($val) {
  -webkit-box-sizing: $val;
  -moz-box-sizing: $val;
  -ms-box-sizing: $val;
  -o-box-sizing: $val;
  box-sizing: $val;
}
@mixin filters($filters) { 
  -webkit-filter: $filters;
  -moz-filter: $filters;
  -ms-filter: $filters;
  -o-filter: $filters;
  filter: $filters;
}
@mixin border-radii($rs) {
  -webkit-border-radius: $rs;
  -moz-border-radius: $rs;
  -ms-border-radius: $rs;
  -o-border-radius: $rs;
  border-radius: $rs;
}
@mixin border-radius-tl($r) {
  -webkit-border-top-left-radius: $r;
  -moz-border-top-left-radius: $r;
  -ms-border-top-left-radius: $r;
  -o-border-top-left-radius: $r;
  border-top-left-radius: $r;
}
@mixin border-radius-tr($r) {
  -webkit-border-top-right-radius: $r;
  -moz-border-top-right-radius: $r;
  -ms-border-top-right-radius: $r;
  -o-border-top-right-radius: $r;
  border-top-right-radius: $r;
}
@mixin border-radius-br($r) {
  -webkit-border-bottom-right-radius: $r;
  -moz-border-bottom-right-radius: $r;
  -ms-border-bottom-right-radius: $r;
  -o-border-bottom-right-radius: $r;
  border-bottom-right-radius: $r;
}
@mixin border-radius-bl($r) {
  -webkit-border-bottom-left-radius: $r;
  -moz-border-bottom-left-radius: $r;
  -ms-border-bottom-left-radius: $r;
  -o-border-bottom-left-radius: $r;
  border-bottom-left-radius: $r;
}
@mixin transform-origin($args) {
  -ms-transform-origin: $args;
  -webkit-transform-origin: $args;
  -moz-transform-origin: $args;
  -o-transform-origin: $args;
  transform-origin: $args;
}
@mixin transforms($ts) {
  -ms-transform: $ts;
  -moz-transform: $ts;
  -webkit-transform: $ts;
  -o-transform: $ts;
  transform: $ts;
}
// ▲▲▲▲▲▲▲ VENDOR PREFIX MIXINS ▲▲▲▲▲▲▲
// ************************************
// ************************************
// ▼▼▼▼▼▼▼▼▼▼▼▼ VARIABLES ▼▼▼▼▼▼▼▼▼▼▼▼
$c-bg-main: white;
$c-logo-blue: #0062A7;
$c-btn-txt1: white;
$c-btn-bg1: #0062A7;
$c-btn-txt2: white;
$c-btn-bg2: #588F15;
$f-main: 'Exo', sans-serif;
$f-logo: 'Bowlby One SC', cursive;
$m-ww: brightness(5000%);
$m-ds: drop-shadow(1px 1px 1px black);
// ▲▲▲▲▲▲▲▲▲▲▲▲ VARIABLES ▲▲▲▲▲▲▲▲▲▲▲▲▲
// ************************************
// ************************************
// ▼▼▼▼▼▼▼▼▼ CUSTOM MIXINS ▼▼▼▼▼▼▼▼▼▼▼▼
// @mixin color-block($c) {
//   // z-index: -1;
//   content: "";
//   position: absolute;
//   width: 50%;
//   height: 50%;
//   background-color: red;
// }
@mixin lighten-on-change($c) {
  &.true {
    background-color: lighten($c, 10%);
  }
}
@mixin right-block($c) {
  &:after {
    content: '';
    display: inline-block;
    width: 50%;
    position: absolute;
    height: 24px;
    background-color: red;
    right: -50%;
    top: 0;
  }
}
@mixin top-block($c) {
  display: inline-block;
  position: absolute;
  right: 0;
  width: 50%;
  height: 58px;
  margin-top: -49px;
  background-color: $c;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 48px;
    margin-top: -1;
    background-color: white;
    @include border-radius-br(100%);
    border-right: 10px solid white;
    border-bottom: 10px solid white;
  }
}
@mixin bot-block($c) {
  position: absolute;
  display: inline-block;
  width: 50%;
  height: 48px;
  margin-top: 48px;
  background-color: $c;
  cursor: pointer;
}
@mixin mid-block($c-txt, $c-bg) {
  @include box-sizing(border-box);
  @include border-radii(55% 0);
  width: 300px;
  font-size: 18px;
  line-height: 28px;
  color: $c-txt;
  background-color: $c-bg;
  border-color: $c-bg;
  font-family: $f-main;
  border: none;
}
@mixin btn-mid {
  &:active {
    text-shadow: 1px 1px 1px black;
  }
}
@mixin btn-bot {
  &:active {
    & + .mid {
      text-shadow: 1px 1px 1px black;
    }
  }
}
@mixin btn-top {
  @include btn-bot;
  &:active {
    & + .bot + .mid {
      text-shadow: 1px 1px 1px black;
    }
  }
}
// ▲▲▲▲▲▲▲▲▲ CUSTOM MIXINS ▲▲▲▲▲▲▲▲▲▲▲▲
// ************************************
// ************************************
// ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ TAGS ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
body {
  background-color: $c-bg-main;
  font-family: $f-main;
}
img {
  max-width: 100px;
}
// ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ TAGS ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
// ************************************
// ************************************
// ▼▼▼▼▼▼▼▼▼▼▼▼ CLASSES ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼

.nav-btns, .search-results {
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow-y: hidden;
  overflow-x: overlay;
  .nav-btn {
    &:not(.search-bar-block) {
      cursor: pointer;
      &.top {
        @include top-block($c-btn-bg1);
        @include btn-top;
      }
      &.mid {
        @include mid-block($c-btn-txt1, $c-btn-bg1);
        @include btn-mid;
        display: block;
        position: relative;
        border-top: 9px solid white;
        padding: 10px 24px;
        text-decoration: none;
      }
      &.bot {
        @include bot-block($c-btn-bg1);
        @include btn-bot;
      }
      @include lighten-on-change($c-btn-bg1);
    }
    &.search-bar-block {
      &.top {
        @include top-block($c-btn-bg2);
      }
      &.bot {
        @include bot-block($c-btn-bg2);
        margin-top: 0;
      }
      &.top, &.bot {
        cursor: text;
      }
    }
  }
  .nav-btn, .search-bar {
    &.mid:last-child, &.mid:last-child > input {
      @include border-radius-br(0);
      button {
        right: 20px;
      }
    }
  }
}


.nav-btns {
  margin-right: 5px;
}

.search-bar {
  @include border-radii(55% 0);
  position: relative;
  cursor: text;
  input {
    @include mid-block($c-btn-txt2, $c-btn-bg2);
    border-top: 9px solid white;
    padding: 10px 104px 10px 24px;
    outline: none;
  }
  button {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 72px;
    bottom: 14px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    background-image: asset-url("icons/search.png");
    &:hover {
      @include filters($m-ww)
    }
    &:active {
      @include filters($m-ww $m-ds);
    }
  }
}
// ▲▲▲▲▲▲▲▲▲▲▲▲ CLASSES ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
// ************************************
// ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ IDS ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
#nav-bar {
  .nav-btn:not(:first-child) {

  }
}
// ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ IDS ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
// ************************************





