/*
 *= require_tree .
 *= require_self
 */

// ************************************
// ▼▼▼▼▼▼▼ VENDOR PREFIX MIXINS ▼▼▼▼▼▼▼
@mixin box-shadow($args) {
  -webkit-box-shadow: $args;
  -moz-box-shadow: $args;
  -ms-box-shadow: $args;
  -o-box-shadow: $args;
  box-shadow: $args;
}
@mixin box-sizing($val) {
  -webkit-box-sizing: $val;
  -moz-box-sizing: $val;
  -ms-box-sizing: $val;
  -o-box-sizing: $val;
  box-sizing: $val;
}
@mixin filters($filters) { 
  -webkit-filter: $filters;
  -moz-filter: $filters;
  -ms-filter: $filters;
  -o-filter: $filters;
  filter: $filters;
}
@mixin border-radii($rs) {
  -webkit-border-radius: $rs;
  -moz-border-radius: $rs;
  -ms-border-radius: $rs;
  -o-border-radius: $rs;
  border-radius: $rs;
}
@mixin transform-origin($args) {
  -ms-transform-origin: $args;
  -webkit-transform-origin: $args;
  -moz-transform-origin: $args;
  -o-transform-origin: $args;
  transform-origin: $args;
}
@mixin transforms($ts) {
  -ms-transform: $ts;
  -moz-transform: $ts;
  -webkit-transform: $ts;
  -o-transform: $ts;
  transform: $ts;
}
// ▲▲▲▲▲▲▲ VENDOR PREFIX MIXINS ▲▲▲▲▲▲▲
// ************************************
// ************************************
// ▼▼▼▼▼▼▼▼▼▼▼▼ VARIABLES ▼▼▼▼▼▼▼▼▼▼▼▼
$c-bg-main: white;
$c-logo-blue: #0062A7;
$c-btn-txt1: white;
$c-btn-bg1: #0062A7;
$c-btn-txt2: white;
$c-btn-bg2: #588F15;
$f-main: 'Exo', sans-serif;
$f-logo: 'Bowlby One SC', cursive;
$m-ww: brightness(5000%);
$m-ds: drop-shadow(1px 1px 1px black);
// ▲▲▲▲▲▲▲▲▲▲▲▲ VARIABLES ▲▲▲▲▲▲▲▲▲▲▲▲▲
// ************************************
// ************************************
// ▼▼▼▼▼▼▼▼▼ CUSTOM MIXINS ▼▼▼▼▼▼▼▼▼▼▼▼
@mixin color-block($c) {
  // z-index: -1;
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: red;
}
@mixin top-block {
  &:before {
    @include color-block($c-btn-bg1);
    top: -50%;
    right: 0;
  }
}
@mixin bot-block {
  position: absolute;
  display: inline-block;
  width: 150px;
  height: 25px;
  background-color: red;
}
@mixin tes-block($c-txt, $c-bg) {
  @include box-sizing(border-box);
  @include border-radii(60% 0);
  width: 300px;
  font-size: 18px;
  line-height: 28px;
  color: $c-txt;
  background-color: $c-bg;
  border-color: $c-bg;
  font-family: $f-main;
  border: none;
}
@mixin btn($c-bg) {
  cursor: pointer;
  &:active {
    text-shadow: 1px 1px 1px black;
  }
}
// ▲▲▲▲▲▲▲▲▲ CUSTOM MIXINS ▲▲▲▲▲▲▲▲▲▲▲▲
// ************************************
// ************************************
// ▼▼▼▼▼▼▼▼▼▼▼▼▼▼ TAGS ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
body {
  background-color: $c-bg-main;
  font-family: $f-main;
}
img {
  max-width: 100px;
}
// ▲▲▲▲▲▲▲▲▲▲▲▲▲▲ TAGS ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
// ************************************
// ************************************
// ▼▼▼▼▼▼▼▼▼▼▼▼ CLASSES ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
.nav-btns > .nav-btn:nth-of-type(odd),
.search-results > .nav-btn:nth-of-type(even) {
  @include tes-block($c-btn-txt1, $c-btn-bg1);
  @include btn($c-btn-bg1);
  @include top-block;
  display: block;
  position: relative;
  padding: 10px 24px;
  text-decoration: none;
}
.nav-btns > .nav-btn:nth-of-type(even),
.search-results > .nav-btn:nth-of-type(odd) {
  @include bot-block;      
}
.nav-btns, .search-results {
  display: inline-block;
  vertical-align: top;
}

.nav-btns {
  margin-right: 10px;
  & > :first-child:before {
    display: none;
  }
  &:first-of-type > .nav-btn:first-of-type {
    @include border-radii(0 0 60% 0 / 0 0 60% 0);
   
  }
}

.search-bar {
  @include border-radii(60% 0);
  position: relative;
  input {
    @include tes-block($c-btn-txt2, $c-btn-bg2);
    height: 48px;
    padding: 5px 48px 5px 24px;
    outline: none; 
  }
  button {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 25%;
    right: 20%;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    background-image: url(icons/search.png);
    &:hover {
      @include filters($m-ww)
    }
    &:active {
      @include filters($m-ww $m-ds);
    }
  }
}
// ▲▲▲▲▲▲▲▲▲▲▲▲ CLASSES ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
// ************************************
// ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼ IDS ▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
#nav-bar {
  .nav-btn:not(:first-child) {
    // &:nth-of-type(odd) {
    //   @include bot-block;      
    // }
    // &:nth-of-type(even) {
    //   @include top-block;
    // }
    
    // @include bottom-block;
  }
}
// ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲ IDS ▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲
// ************************************





