/*
 *= require_tree .
 *= require_self
 */

$c-bg-main: white;
$c-logo-blue: #0062A7;
$c-btn-txt1: white;
$c-btn-bg1: #0062A7;
$c-btn-txt2: white;
$c-btn-bg2: #588F15;
$f-main: 'Exo', sans-serif;
$f-logo: 'Bowlby One SC', cursive;
$m-ww: brightness(5000%);
$m-ds: drop-shadow(1px 1px 1px black);

@mixin round-corners($r) {
  -moz-border-radius-topleft: $r;
  -moz-border-radius-bottomright: $r;
  -webkit-border-top-left-radius: $r;
  -webkit-border-bottom-right-radius: $r;
}
@mixin fine-border($c) {
  $c-l: lighten($c, 10%);
  $c-d: darken($c, 10%);
  border-color: $c-l $c-l $c-d $c-d;
}
@mixin text-field {
  @include round-corners(10px);
  @include fine-border($c-btn-bg1); 
  outline: none;
  color: $c-btn-txt1;
  background-color: $c-btn-bg1;
  font-family: $f-main;
  font-size: 18px;
  padding: 5px;
  &:focus {
    -webkit-box-shadow: inset 0px 0px 10px 5px rgba($c-btn-txt1, 0.2);
    -moz-box-shadow: inset 0px 0px 10px 5px rgba($c-btn-txt1, 0.2);
    box-shadow: inset 0px 0px 10px 5px rgba($c-btn-txt1, 0.2);
  }
}
@mixin btn($r, $c-txt, $c-bg) {
  @include round-corners($r);
  color: $c-txt;
  background-color: $c-bg;
  cursor: pointer;
  &:hover {
    background-color: lighten($c-bg, 10%);
  }
  &:active {
    // -webkite-filter: invert(100%);
    color: lighten($c-bg, 10%);
    background-color: $c-txt;
  }
}
@mixin filters($filters) { 
  -webkit-filter: $filters;
  -moz-filter: $filters;
  -ms-filter: $filters;
  -o-filter: $filters;
  filter: $filters;
}

body {
  background-color: $c-bg-main;
  font-family: $f-main;
}
a {
  text-decoration: none;
}
img {
  max-width: 100px;
}

.header {
  // img {
    // max-height: 100%
  // }
}
#search-bar {
  display: inline-block;
  & > div {
    position: relative;
    width: 200px;
    input {
      @include text-field;
      width: 100%;
      padding-right: 36px;
      text-shadow: 1px 1px 1px black;
      box-sizing: border-box;
    }
    & > span{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      img {
        @include filters($m-ds);
        margin: 9px;
        cursor: pointer;
        content: url("icons/search.png");
        &:hover {
          @include filters($m-ww $m-ds)
        }
      }
    }
  }
  a {
    @include btn(10px, $c-btn-txt1, $c-btn-bg1);
    display: block;
    padding: 5px;
    margin: 5px 0;
    text-shadow: 1px 1px 1px black;
  }
}