<div class="image-caption">
  <%= react_component(type, local_assigns.except(:description)) %>
  <%= content_tag(:div,
    link_to(description, path_link),
  class: "#{class_name} caption") %>
</div>
