<table>
  <%= content_tag(:caption,
    link_to(slogan, path_show),
  class: class_name) %>
  <tbody>
    <tr>
      <td><%= link_to(image_tag(path_file + filename), path_show) %></td>
    </tr>
  </tbody>
</table>
