<table>
  <%= content_tag(:caption,
    link_to(slogan, path_show),
  class: class_name) %>
  <tbody>
    <tr>
      <td><%= link_to(react_component("Image", local_assigns.except(:slogan, :path_show)), path_show) %></td>
    </tr>
  </tbody>
</table>
