<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Bowlby+One+SC|Exo:600,100' rel='stylesheet' type='text/css'>
  <title>HTS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "header", locals: @header %>
  <div class="content">
    <% yield %>
  </div>
</body>
</html>
